body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*background-color: #f9f9f9;*/
    /*color: #333;*/
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #ffccff;
    color: black;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
}

.logo {
    max-width: 200px;
    max-height: 200px;
}

.features, .gallery {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.features ul {
    list-style: none;
    padding: 0;
}

.features li {
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.slider-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 530px;
    /*background-color: #f0f0f0;*/
    border-radius: 8px;
    overflow: hidden;
}

.slider-container img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: black;
    border: none;
    padding: 10px;
    font-size: 100px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
}

.arrow.left-arrow {
    left: 10px;
}

.arrow.right-arrow {
    right: 10px;
}

.arrow:hover {
    font-size: 110px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #6667AB;
    color: wheat;
    margin-top: 20px;
}